services:
  postgres-local-db:
    image: postgres:18-alpine
    container_name: postgres_local_db_ctr
    environment:
      - POSTGRES_PASSWORD=pingpong
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_local_db_data:/var/lib/postgresql/pingpong_data
    ports:
      - "5455:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 3

  log-output:
    image: log_output_img
    container_name: log_output_ctr
    build:
      context: .
      dockerfile: ./log_output/Dockerfile
    restart: unless-stopped
    env_file:
      - ./log_output/.env
    environment:
      - PORT=${LOG_OUTPUT_PORT}
      - PING_PONG_SVC_URL=http://ping-pong:${PING_PONG_PORT} # Use service name for discovery
      - MESSAGE=HELLO from a docker compose environment variable!
      - FILE_INFO_TXT_PATH=/app/config/info-docker.txt
    volumes:
      - ./instructions-local.txt:/app/config/info-docker.txt
    ports:
      - "${LOG_OUTPUT_PORT}:${LOG_OUTPUT_PORT}"

  ping-pong:
    image: ping_pong_img
    container_name: ping_pong_ctr
    build:
      context: .
      dockerfile: ./ping_pong/Dockerfile
    env_file:
      - ./ping_pong/.env
    restart: unless-stopped
    environment:
      - PORT=${PING_PONG_PORT}
      - DB_HOST=postgres-local-db
      - DB_PORT=5432
    ports:
      - "${PING_PONG_PORT}:${PING_PONG_PORT}"
    depends_on:
      postgres-local-db:
        condition: service_healthy
volumes:
  postgres_local_db_data:
