services:
  log-output:
    image: log_output_img
    container_name: log_output_ctr
    build:
      context: .
      dockerfile: ./log_output/Dockerfile
    restart: unless-stopped
    env_file:
      - ./log_output/.env
    environment:
      - PORT=${LOG_OUTPUT_PORT}
      - PING_PONG_SVC_URL=http://ping-pong:${PING_PONG_PORT} # Use service name for discovery
    ports:
      - "${LOG_OUTPUT_PORT}:${LOG_OUTPUT_PORT}"

  ping-pong:
    image: ping_pong_img
    container_name: ping_pong_ctr
    build:
      context: .
      dockerfile: ./ping_pong/Dockerfile
    env_file:
      - ./ping_pong/.env
    restart: unless-stopped
    environment:
      - PORT=${PING_PONG_PORT}
    ports:
      - "${PING_PONG_PORT}:${PING_PONG_PORT}"
