services:
  log-output:
    image: log_output_img
    container_name: log_output_ctr
    build:
      context: .
      dockerfile: ./log_output/Dockerfile
    restart: unless-stopped
    env_file:
      - ./log_output/.env
    ports:
      - "${LOG_OUTPUT_PORT}:8096"
    environment:
      # - PORT=8081
      - PING_PONG_SVC_URL=http://ping-pong:8097 # Use service name for discovery

  ping-pong:
    image: ping_pong_img
    container_name: ping_pong_ctr
    build:
      context: .
      dockerfile: ./ping_pong/Dockerfile
    env_file:
      - ./ping_pong/.env
    restart: unless-stopped
    ports:
      - "${PING_PONG_PORT}:8097"
    # environment:
    # - PORT=8082
