apiVersion: v1
kind: PersistentVolume
metadata:
  namespace: project
  name: todo-app-pv
spec:
  storageClassName: todo-app-local-storage
  capacity:
    storage: 500Mi
  volumeMode: Filesystem # This declares that it will be mounted into pods as a directory
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  local:
    path: /tmp/kube/todo-app-data
  # Used to bind to specific node
  nodeAffinity:
    ## This is only required for local, it defines which nodes can access it
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - k3d-k3s-default-agent-0 # TODO: test Set to default server instead of agent and see if it works, then try adding no trespass rule on default server
