services:
  todo-backend:
    image: todo_be_img
    container_name: todo_be_ctr
    build:
      context: .
      dockerfile: ./todo-backend/Dockerfile
    restart: unless-stopped
    ports:
      - "8082:8081"
    environment:
      - PORT=8081

  todo-app:
    image: todo_app_fe_img
    container_name: todo_app_fe_ctr
    build:
      context: .
      dockerfile: ./todo-app/Dockerfile
    restart: unless-stopped
    ports:
      - "3006:3005"
    depends_on:
      todo-backend:
        condition: service_started
    environment:
      - PORT=3005
      - PICSUM_URL=https://picsum.photos/1200
      - TODO_SVC_URL=http://todo-backend:8081
      - IMAGE_DIR=./tmp/images/
    volumes:
      - todo_app_vol:/app/tmp/images:/app/tmp/images
volumes:
  todo_app_vol:
