package views

import "todo_app/internal/todo"

templ Todo(t todo.Todo) {
<div class="flex items-center justify-between p-2 border-b border-gray-200">
    <span class="flex-1">
        <input type="checkbox" class="mr-2" checked?={t.Completed} />
        <span class={ templ.KV("text-gray-500", t.Completed), templ.KV("line-through", t.Completed) }>{ t.Task }</span>
    </span>
    <button class="text-red-500 hover:text-red-700">Delete</button>
</div>
}
